
{% extends 'layout.html' %}
{% block body %}
       <div class="container" style="margin: 100px">
        <div class ="row">
            <div class="md-9">
                <div class="container">
                    <form>
                        <select class="form-control">
                          {% for stock in stocks %}
                            <option>{{stock.0}}</option>
                        {% endfor %}
                        </select>
                       <center><button class="btn btn-lg btn-success" style="margin: 20px">Choose</button></center>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


<!-- added by vikrant -->
